Client/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Canvas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICanvas_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="ICanvas_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="ICanvas_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="ICanvas_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="ICanvas_size_InputMessage">
    <wsdl:part name="parameters" element="tns:size" />
  </wsdl:message>
  <wsdl:message name="ICanvas_size_OutputMessage">
    <wsdl:part name="parameters" element="tns:sizeResponse" />
  </wsdl:message>
  <wsdl:message name="ICanvas_clear_InputMessage">
    <wsdl:part name="parameters" element="tns:clear" />
  </wsdl:message>
  <wsdl:message name="ICanvas_centerOfGravity_InputMessage">
    <wsdl:part name="parameters" element="tns:centerOfGravity" />
  </wsdl:message>
  <wsdl:message name="ICanvas_centerOfGravity_OutputMessage">
    <wsdl:part name="parameters" element="tns:centerOfGravityResponse" />
  </wsdl:message>
  <wsdl:portType name="ICanvas">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanvas/add" message="tns:ICanvas_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanvas/addResponse" message="tns:ICanvas_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanvas/get" message="tns:ICanvas_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanvas/getResponse" message="tns:ICanvas_get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="size">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanvas/size" message="tns:ICanvas_size_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanvas/sizeResponse" message="tns:ICanvas_size_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clear">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanvas/clear" message="tns:ICanvas_clear_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="centerOfGravity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanvas/centerOfGravity" message="tns:ICanvas_centerOfGravity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanvas/centerOfGravityResponse" message="tns:ICanvas_centerOfGravity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICanvas" type="tns:ICanvas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/ICanvas/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/ICanvas/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="size">
      <soap:operation soapAction="http://tempuri.org/ICanvas/size" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clear">
      <soap:operation soapAction="http://tempuri.org/ICanvas/clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="centerOfGravity">
      <soap:operation soapAction="http://tempuri.org/ICanvas/centerOfGravity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Canvas">
    <wsdl:port name="BasicHttpBinding_ICanvas" binding="tns:BasicHttpBinding_ICanvas">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Contract/Canvas/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>